* {
    font-size: 1vw;
    font-family: "Epilogue", sans-serif;
}

html {
    --scrollbarBG: #fff;
    --thumbBG: #90a4ae;
}

.full_screen {
    height: 100vh;
}

.sidebar_left {
    width: 15%;
    /* border: 1px solid #000000; */
    background-color: #ffffff;
}

.sidebar_left .title {
    text-decoration: none;
    color: #4e7d96;
    
}

.sidebar_left h3{
    padding-left: 10%;
    padding-top: 10%;
    font-size: 20px;
}

.sidebar_left .nav-link {
    font-size: 15px;
}

.sidebar_left .img{
    width: 10px;
    height: 10px;
}


.main {
    width: 55%;
    background-color: #f1f6fa;
}

.main .search_main {
    height: 10%;
    margin: 10px;
}

.main .hello{
    width: 60%;
    height: 100%;
    margin: 0px 5px;
    max-width: 50%;
    max-height: 100px;
}

.main .weather_main{
    width: 40%;
    height: 100%;
    margin: 0px 5px;
    max-width: 50%;
    max-height: 100px;
    border-radius: 20px;
    background-color: #3385f8;
    color: #fff;
}

.main .hello_main, .clock_main {
    text-align: left;
    margin: 10px;
}

.main .hello_main{
    font-size: 30px;
    color: #1f2237;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main .clock_main{
    font-size: 15px;
    color: #cbd0d7;
}

.main .weather_main .icon_weather {
    width: 40%;
    height: 100px;
    border-radius: 20px;
    background-color: #ffffff;
    
}

.main .weather_main .icon_weather .icon {
    -webkit-filter: drop-shadow(5px 5px 5px #cdcdcd);
    filter: drop-shadow(10px 10px 5px #c6c6c6);
}

.main .weather_main .weather_info {
    width: 60%;
    height: 100px;
}

.main .weather_main .location_weather, .temp_weather, .description_weather{
    width: 100%;
    height: 100%;
    text-align: center;
}

.main .weather_main .temp_weather {
    font-size: 30px;
}

.main .iot, .iotManager{
    width: calc(100% -10px);
    height: 100%;
    margin: 5px 5px 5px 5px;
}

.main .iot .locationCard, .iotManager .locationCard{
    height: 20px; 
    margin: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.main .iot .iotInfoCard, .iotManager .iotInfoCard{
    width: 30%; 
    height: 100px; 
    margin: 5px;
    background-color: #ffffff;
}

.sidebar_right {
    width: 30%;
    /* border: 1px solid #000000; */
    background-color: #e3edf2;
}

.sidebar_right .nav-item {
    margin-left: 2px;
    margin-top: 10px;
}

.sidebar_right .pills-news {
    overflow-y: scroll;
    height: 100%;
}

.sidebar_right #pills-chatbot{
    margin: 0px 10px;
    border: 0px 10px 10px;
    height: 89vh;
}

.sidebar_right #pills-chatbot .card #input-section{
    width: 100%;
}

.sidebar_right #pills-chatbot #message-section {
    height: 90%;
}

.sidebar_right #pills-chatbot #input-section {
    height: 10%;
}

.sidebar_right #pills-chatbot .card #input-section .searchbarside {
    width: 75%;
    height: 50%;
}

.sidebar_right #pills-chatbot .card #input-section .searchside {
    margin-bottom: 10px;
    height: 50%;
    width: 25%;
    min-width: 70px;
    border: 1px solid #604ac2;
}
.sidebar_right #pills-chatbot .card #input-section .TTS {
    display: none;
}

.sidebar_right #pills-shopping {
    overflow-y: scroll; 
    height: 90vh; 
}

.sidebar_right #pills-shopping .shoppingitems {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
}

.sidebar_right #pills-news {
    overflow-y: scroll; 
    height: 90vh; 
}

.sidebar_right #pills-news .newsitems {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
}

.sidebar_right .iotManager {
    overflow-y: scroll;
}

.sidebar_right .iotManager .locationCard{
    height: 10px; 
    margin: 5px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.sidebar_right .iotManager .iotInfoCard{
    width: 30%; 
    height: 100px; 
    margin: 10px;
    background-color: #ffffff;
}

body .card {
    height: 100%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    box-shadow: 2vw 2vw 12vw 3vw #ccc;
}

body .card #message-section::-webkit-scrollbar {
    width: 10px;
}
body .card #message-section {
    height: 70vh;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
body .card #message-section #bot,
body .card #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid #777;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin: 1.5vw 0;
}
body .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: #000;
    float: right;
}
body .card #message-section #user #user-response {
    color: #fff;
}
body .card #message-section .message {
    color: #000;
    clear: both;
    line-height: 1.2vw;
    font-size: 1.2vw;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
}
body .card #input-section {
    z-index: 1;
    padding: 0 2.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 5vw;
    width: 100%;
}
body .card #input-section input {
    color: #000;
    outline: none;
    height: 30px;
    width: 5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
    margin-bottom: 10px;
}

.sidebar_right .sceneManager{
    width: calc(100% -10px);
    height: 100vh;
    border: 1px solid #000;
}

.sidebar_right .sceneManager .sceneSelection{
    width: 50%;
    height: 100vh;
    border: 1px solid #000;
}

.sidebar_right .sceneManager .sceneIFTHEN{
    width: 50%;
    height: 100vh;
    border: 1px solid #000;
}

.sidebar_right .sceneManager .sceneIF{
    height: 30%;
    border: 1px solid #000;
}

.sidebar_right .sceneManager .sceneTHEN{
    height: 70%;
    border: 1px solid #000;
}